<ion-view>
    <ion-content class="padding">
        <div align='middle'>
          <img ng-src="images/splash.jpg">
             <br>
             <a class="button button-positive" ng-href="#/config/productBases">Start Initial Order</a> 
             <br><br>
             <a class="button button-positive" ng-href="#/config/selectConfigurationFile">Restore Saved Configuration</a>
             <br><br>
             <a class="button button-positive" ng-href="#/config/selectCFRFile">Start MES/Upgrade</a>
             </div>
         </div>
     </ion-content>
</ion-view>